* {
  font-family: sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  line-height: 1.618em;
  color: #4a5043;
}
html,
body {
  height: 100%;
}
.main {
  display: block;
}

#myModal {
  display: none;
}
.background {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      rgba(84, 89, 93, 0.74),
      rgba(84, 89, 93, 0.74)
    ),
    url("../assets/map.JPG");
  -webkit-box-shadow: 6px 6px 5px -4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 6px 6px 5px -4px rgba(0, 0, 0, 0.48);
  box-shadow: 6px 6px 5px -4px rgba(0, 0, 0, 0.48);
  max-width: 100%;
  width: 850;
  height: 534px;
  background-size: 100% 100%;
}

.background::after {
  content: "";
}

#header h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 534px;
  width: 100%;
}
.numbertext {
  color: gray;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index: 100;
}
.closeCursor {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 35px;
  margin-top: -50px;
  color: gray;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#header p {
  color: black;
  width: 100%;
}
#aboutUs {
  padding: 2em 0;
}

#workHistory b {
  display: flex;
  float: right;
}

#workHistory ul {
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.project {
  display: flex;
  color: black;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  text-align: left;
}
.projectSlideShow {
  display: flex;
  margin-top: 15px;
}
.content {
  display: none;
}
.mySlides img {
  width: 100%;
  position: relative;
}
.mySlides {
  margin: 0;
  padding: 0;
  background-color: black;
}

.modal {
  /* display: none; */
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.mySlides {
  display: none;
}
.collapsible {
  margin-bottom: 15px;
  display: flex;
  margin-left: 25%;
  margin-right: 25%;

  font: bold 13px "Helvetica Neue", Helvetica, Arial, clean, sans-serif !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), -2px 0 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  color: white;
  padding: 5px 10px 5px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  background: #313f49 url(button_overlay.png) repeat-x scroll 0 0;
  border-style: none;

  overflow: visible;
}

.project img {
  display: flex;
  width: 100%;
  -webkit-box-shadow: 6px 6px 5px -4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 6px 6px 5px -4px rgba(0, 0, 0, 0.48);
  box-shadow: 6px 6px 5px -4px rgba(0, 0, 0, 0.48);
}
.projectDescription h2 {
  text-align: center;
}
.project:hover {
  background-color: blue;
}

#education b {
  display: flex;
  float: right;
}

#education ul {
  padding-left: 30px;
  padding-bottom: 20px;
}

#education p {
  padding-bottom: 20px;
  padding-top: 20px;
}
main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  position: fixed;
  margin-bottom: 50px;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;

  justify-content: center;
  margin-bottom: 40px;
  background-color: #313f49;
}

.nav a {
  padding: 0.5em 2em;
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  background: #666;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
p,
ul {
  font-size: 18px;
}

li {
  padding-top: 5px;
}
